<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OctoCommander.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OctoCommander.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OctoCommander.Properties.Settings>
            <setting name="Printers" serializeAs="String">
                <value>bregen.fritz.box</value>
            </setting>
            <setting name="PrinterAPIKeys" serializeAs="String">
                <value>D7DBAFBFBEBB41658F4FDE82E61679FF</value>
            </setting>
            <setting name="UriFormat" serializeAs="String">
                <value>http://{0}/api/{1}?apikey={2}</value>
            </setting>
            <setting name="PrinterRefreshInterval" serializeAs="String">
                <value>5000</value>
            </setting>
        </OctoCommander.Properties.Settings>
        <OctoCommander.Settings>
            <setting name="Printers" serializeAs="String">
                <value>bregen.fritz.box</value>
            </setting>
            <setting name="PrinterAPIKeys" serializeAs="String">
                <value>D7DBAFBFBEBB41658F4FDE82E61679FF</value>
            </setting>
        </OctoCommander.Settings>
    </userSettings>
</configuration>